body {
    background-color: #313131;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu {
    position: absolute;
    background-color: #595959;
    border-bottom: .1em solid black;
    top: 0;
    width: 100%;
    height: 2em;
}

.explorer {
    position: absolute;
    background-color: #595959;
    border-bottom: .1em solid black;
    border-right: .1em solid black;
    width: 20%;
    top: 2.1em;
    z-index: 3;
    bottom: 0;
}

.composer {
    position: absolute;
    background-color: #939393;
    border-bottom: .1em solid black;
    margin-left: .1em;
    left: 20%;
    right: 0;
    top: 2.1em;
    bottom: 10em;
    overflow: auto;
    z-index: 2;
}

.composer table {
    min-width: 110%;
}

.composer td {
    height: 17px;
    border-bottom: 1px solid white;
    padding: 0;
}

.player {
    position: absolute;
    background-color: #434343;
    border-bottom: .1em solid black;
    margin-left: .1em;
    left: 20%;
    right: 0;
    height: 9.9em;
    bottom: 0;
    z-index: 2;
}

.track {
    background-color: #508cfa;
    margin-top: -10px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
    font-size: .7em;
    padding: .2em;
    border: .1em solid #b0a9ff;
}

.browser-top {
    position: fixed;
    height: 1em;
    width: 21px;
    background-color: red;
}

.browser-line {
    position: fixed;
    width: 1px;
    margin-left: 10px;
    height: 100%;
    background-color: red;
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}