body {
    background-color: #313131;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    position: absolute;
    background-color: #595959;
    border-bottom: .1em solid black;
    top: 0;
    width: 100%;
    height: 2em;
    z-index: 6;
}

.menu > li {
    height: 2em;
    float: left;
    background-color: white;
    border-right: .1em solid black;
}

.menu > li > span {
    padding: .5em;
    display: block;
}

.menu > li > ul {
    display: none;
}

.menu > li:hover > ul {
    display: inline-block;
    background-color: gray;
    padding: .5em 1em;
}

.menu > li > ul > li {
    padding: .25em;
    cursor: pointer;
}

.menu > li > ul > li:hover {
    background-color: white;
}

.composer {
    position: absolute;
    background-color: #939393;
    border-bottom: .1em solid black;
    margin-left: .1em;
    left: 20%;
    right: 0;
    top: 4.1em;
    bottom: 0;
    overflow: auto;
    z-index: 2;
}

.composer ul {
    background-color: rgb(154, 161, 168);
    margin-left: 10px;
    width: 100%;
}

.composer li {
    height: 30px;
    border-top: 1px solid rgb(219, 219, 219);
    padding: 0;
    background-color: rgb(147, 147, 147);
}

.timeline {
    width: 500em;
}

.explorer {
    position: absolute;
    background-color: #595959;
    border-bottom: .1em solid black;
    border-right: .1em solid black;
    width: 20%;
    top: 2.1em;
    z-index: 3;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.explorer ul.folders li {
    padding: .3em 1em;
    color: rgb(255, 255, 255);
    display: inline-block;
    border: .1em solid black;
    background-color: rgba(63, 63, 63, 1);
    cursor: pointer;
}

.explorer ul.folders li:hover {
    background-color: black;
}

.explorer ul.files li {
    padding: .3em 1em;
    cursor: move;
    color: rgb(0, 0, 0);
    border-bottom: .15em solid #49B383;
    background-color: #53C390;
}

.explorer ul.files li:hover {
    background-color: rgb(113, 215, 168);
}

.player {
    position: absolute;
    background-color: #434343;
    border-bottom: .1em solid black;
    margin-left: .1em;
    left: 20%;
    right: 0;
    height: 9.9em;
    top: 2.1em;
    height: 2em;
    z-index: 2;
}

.track {
    overflow: hidden;
    cursor: move;
    height: 19px;
    padding: 5px 0;
    background-color: #53C390;
    color: rgb(60, 60, 60);
    border-radius: .3em;
}

.track.selected {
    background-color: #58c3b4;
}

.track span {
    padding: 0 5px;
    font-size: .7em;
}

.browser-top {
     position: fixed;
     top: 4.1em;
     height: .9em;
     width: 19px;
     background-color: rgb(63, 63, 63);
     border-radius: .3em;
     z-index: 2;
     cursor: ew-resize;
     border: .1em solid black;
 }

.browser-line {
    position: fixed;
    width: 1px;
    margin-left: 10px;
    top: 5.1em;
    bottom: 1em;
    background-color: red;
    cursor: ew-resize;
    z-index: 1;
}

.top-line {
    position: relative;
    padding-right: 10px;
    height: 1em;
    background-color: silver;
    width: 100%;
    z-index: 7;
}